.header__section {
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: #BA68C8;
    background: #040535;
  
  
  .header__text {
    color: white;
    font-size: 28px;
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}