// ADMINMAIN
.dashboard{
    background-image: url('../static/assets/productCTAImageDots.png');
    background-repeat: repeat;
    background-size: cover;
    
}
.adminMain{
    background-image: url('../static/assets/productCurvyLines.png');
    background-repeat: repeat;
    background-size: cover;
}